
.Alter_Content {
    display: flex;
    background-color: #9151e6;
    border-radius: 12px;
    padding-bottom: clamp(14px, 2vw, 20px);
    padding-top: clamp(14px, 2vw, 20px);
    align-items: center;
    justify-content: center;
    width: 100%;
}
.Alters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
body {
    background: #111;
    overflow: hidden;
}

.wheelContainer {
    position: fixed;
    z-index: 1001;
    top: -250px;
    left: -250px;

    width: 500px;
    height: 500px;
}

.wheel {
    width: 100%;
    height: 100%;

    border-radius: 50%;

    cursor: grab;

    transition:
            box-shadow 0.3s ease;
}

.alterLabel {
    position: absolute;

    left: 50%;
    top: 50%;

    width: 120px;
    height: 40px;

    margin-left: -60px;
    margin-top: -20px;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
}

.alterLabel span {
    color: black;

    font-size: 1.4rem;
    font-weight: bold;

    font-family: sans-serif;

    white-space: nowrap;

    text-shadow:
            0 0 8px rgba(255,255,255,0.6);
}

.pageStack {
    position: fixed;

    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    isolation: isolate;
    z-index: 0;
}

.alterPage {
    position: absolute;
    inset: 0;

    overflow-y: auto;

    transition:
            opacity 0.08s linear;

    will-change: opacity;
}