html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.TopBar {

    width: 100%;
    min-height: 80px;

    background-color: #a026e8;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 3%;
    gap: 16px;

    flex-wrap: wrap;
    box-sizing: border-box;

    position: sticky;
    top: 0;
    z-index: 1002;
}

.topButton {
    flex-shrink: 1;
    flex-grow: 0;

    min-width: 80px;
    max-width: 200px;
    padding: 0 16px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 500;

    border-radius: 12px;
    background-color: #c89bff;
    color: #1e1e1e;

    text-decoration: none;

    transition: background-color 0.2s, transform 0.1s;
}

.topButton:hover {
    background-color: #a97de0;
}

.topButton:active {
    transform: scale(0.97);
}

.topButton:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
}

.content {
    flex: 1;
    padding: 20px 20px 0px;
    display: flex;
}

